# Python virtual environment
.venv/
venv/
env/

# Python cache
__pycache__/
*.py[cod]
*.pyo

# Jupyter
.ipynb_checkpoints/

# Environment variables
.env
.env.*

# IDE
.vscode/
.idea/

# OS files
.DS_Store
Thumbs.db

# ML dataset - large file
ml/data/dataset.csv

# Python build files
build/
dist/
*.egg-info/

# Logs
*.log

# Node
node_modules/
frontend/dist/
frontend/.vite/